<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
</head>

<body>

    <h3>Welcome, {{ user.first_name }}!</h3>

    <div>
        <a class="btn btn-success" href="/my_collection">My Collection</a>
        <p></p>
        <a class="btn btn-success" href="/wishlist">My Wishlist</a>
        <p></p>
        <a class="btn btn-success" href="/dashboard">Dashboard</a>
        <p></p>
        <a class="btn btn-danger" href="/logout">Logout</a>
    </div>

    <h1>RESEARCH:</h1>

    <h2>If you are new to collecting My Little Ponies then you can find a list of all the released figures <a href="http://mylittlewiki.org">HERE</a>!</h2>

    <h3>Below is some information about the My Little Ponies toys:</h3>

    <p>My Little Pony (MLP) is a toy line and media franchise developed by American toy company Hasbro. The first toys were were produced in 1981. The ponies feature colorful bodies, manes and a unique symbol on one or both sides of their flanks. Such symbols are referred to in the two most recent incarnations as "cutie marks". My Little Pony has been revamped several times with new and more modern looks to continue its appeal to the market, with each new look called a "generation" by the show's collectors and fans. The franchise is mainly targeted at girls, although in the 2010s, it gained a cult following by an unintended audience of adult fans.</p>

    <p>Following the original My Pretty Pony toy that was introduced in 1981, My Little Pony was launched in 1982 and the line became popular during the 1980s. The original toy line ran from 1982 to 1992 in the United States and to 1995 globally. The first incarnation's popularity peaked in 1990, but the following year Hasbro decided to discontinue the toy line due to increased competition.[1] One hundred fifty million ponies were sold in the 1980s.[2]</p>

    <p>The toy line was revived in 1997, but these toys proved unpopular and were discontinued in 1999. The brand saw a more popular revival in 2003 with toys that more closely resembled the original toy line.[3]  Hasbro launched the fourth incarnation of the franchise in 2010. Hasbro launched a fifth generation of toys 2021.</p>

    <p>Above information was pulled from <a href="https://en.wikipedia.org/wiki/My_Little_Pony">Wikipedia</a>.</p>

